{% extends "base.html" %}
{% load static %}
{% block title %}

{% endblock title %}
This post title
{% block css_files %}
<link rel="stylesheet" href=" {% static "blog/post-detail.css" %} ">
{% endblock css_files %}


{% block content %}
<section id="summary">
<h2>
    post title

</h2>
<article>
    <img src=" {% static "blog/images/mountains.jpg" %} " alt="Post title">
    <address>By Andy</address>
    <div>
        Last updated on <time>July 10th</time>
    </div>
</article>
</section>
<main>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae eligendi eaque soluta adipisci illo quaerat quis saepe nobis quo veritatis nihil pariatur perferendis nemo delectus illum sapiente, modi voluptatem laboriosam?

    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe suscipit ullam atque laboriosam minima placeat, iure perspiciatis, deserunt modi commodi molestias cum fugiat sit impedit rem? Quo eveniet nobis quod.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis commodi illum possimus sint, delectus nihil quae deleniti molestias asperiores molestiae mollitia omnis aspernatur dolores? Provident laudantium tenetur consequatur error assumenda.</p>
</main>

{% endblock content %}